---
import { ID_GITHUB, ID_LINKEDIN, MAILTO_EMAIL, PHONE_NUMBER } from 'astro:env/client';
import AddressLink, {
  type Props as AddressLinkProps,
} from '@components/body/footer/AddressLink.astro';

const addressLinks: AddressLinkProps[] = [
  {
    href: `tel:${PHONE_NUMBER}`,
    iconName: 'phone',
    label: PHONE_NUMBER,
  },
  {
    href: `mailto:${MAILTO_EMAIL}`,
    iconName: 'email',
    label: MAILTO_EMAIL,
  },
  {
    href: `https://www.linkedin.com/in/${ID_LINKEDIN}`,
    iconName: 'linkedin',
    label: ID_LINKEDIN,
    openNewTab: true,
  },
  {
    href: `https://www.github.com/${ID_GITHUB}`,
    iconName: 'github',
    label: ID_GITHUB,
    openNewTab: true,
  },
];
---

<footer>
  <span>Victor BETSCH</span>
  <address>
    {
      addressLinks.map(addressLink => (
        <AddressLink
          href={addressLink.href}
          iconName={addressLink.iconName}
          label={addressLink.label}
          openNewTab={addressLink.openNewTab || null}
        />
      ))
    }
  </address>
</footer>

<style>
  footer {
    background-color: var(--color-grey-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--size-24);
    padding-bottom: var(--size-24);
  }

  span {
    white-space: nowrap;
    font-family: var(--font-mono), sans-serif;
    font-size: var(--size-12);
  }

  address {
    display: flex;
    gap: clamp(var(--size-16), 7vw, var(--size-48));
  }
</style>
